.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(24, 23, 23);
  height: auto;
  flex-direction: column;
}
.content{
  color: orange;
}
*{
  background-color: rgb(24, 23, 23);
}

